<div class="container-xxl flex-grow-1 ">
  <div class="row">
    <h2>Students</h2>
    <div class="col-lg-12">
      <div class="card" style="margin-top: 10px">
        <div class="card-header d-flex align-items-center justify-content-between">
          <div class="left-card ">
            <mat-form-field appearance="standard" style="width:257px">
              <mat-label>Search</mat-label>
              <input type="search"
                     class="form-control p-1"
                     matInput (keyup)="
                     applyFilter($event)" placeholder="Search" #input>
            </mat-form-field>
          </div>
          <div class="right-card">
            <button type="button" style="width:100px;"
                    class="btn btn-sm btn-info" data-bs-target="#exLargeModal"
                    data-bs-toggle="modal"
                    (click)="AddStudentButton()"
            >Add Student</button>
          </div>


        </div>
        <div class="card-body table-responsive text-nowrap">
<!--          <table class="table table-hover">-->
<!--            <thead style="border-bottom: 1px solid #b3b3b3">-->
<!--            <tr>-->
<!--              <th>#id</th>-->
<!--              <th>Name</th>-->
<!--              <th>Phone</th>-->
<!--              <th>University</th>-->
<!--              <th>End Subscriped Date</th>-->
<!--              <th>Actions</th>-->
<!--            </tr>-->
<!--            </thead>-->
<!--            <tbody class="table-border-bottom-0">-->
<!--            <tr *ngFor="let student of students;let i = index;">-->
<!--              <td><strong>{{i+1}}</strong></td>-->
<!--              <td>{{student.stdName}}</td>-->
<!--              <td>-->
<!--                {{student.stdPhone}}-->
<!--              </td>-->
<!--              <td>{{student.university.universityName}}</td>-->

<!--              <ng-container [ngSwitch]="true">-->
<!--                <td *ngSwitchCase="student.endSubscriptionDate ==null-->
<!--                  ||  student.isSubscribed == null-->
<!--                  ||  student.endSubscriptionDate == 0-->
<!--              " >-->
<!--                <span class="badge bg-label-warning me-1">-->
<!--                  Not Activated yet</span>-->
<!--                </td>-->
<!--                <td  *ngSwitchCase="( student.endSubscriptionDate != null  )-->
<!--                  && student.isSubscribed == true " >-->
<!--                  <span class="badge bg-label-success me-1">-->
<!--                    {{ student.endSubscriptionDate | date : "longDate"}}</span>-->

<!--                </td>-->
<!--                <td  *ngSwitchCase="( student.endSubscriptionDate != null-->
<!--                  && student.isSubscribed == false)" >-->

<!--                  <span class="badge bg-label-danger me-11"> SUBSCRIPTION EXPIRED</span>-->
<!--                </td>-->
<!--              </ng-container>-->
<!--              <td>-->
<!--                <div class="dropdown">-->
<!--                  <button class="btn p-0" type="button" id="orederStatistics"-->
<!--                          data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--                    <i class="bx bx-dots-vertical-rounded"></i>-->
<!--                  </button>-->
<!--                  <div class="dropdown-menu dropdown-menu-end"-->
<!--                       aria-labelledby="orederStatistics" style="">-->
<!--                    <a class="dropdown-item" href="javascript:void(0);"-->
<!--                       data-bs-target="#exLargeModal" data-bs-toggle="modal"-->
<!--                       (click)="onEdit(student)">Edit</a>-->
<!--                    <a class="dropdown-item"  data-bs-target="#exLargeModal2" data-bs-toggle="modal"-->
<!--                       href="javascript:void(0);" (click)="onRenew(student.id)">renew Subscription</a>-->
<!--                    <a class="dropdown-item" href="javascript:void(0);" (click)="DeleteStudent(student.id)">Delete</a>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </td>-->
<!--            </tr>-->
<!--            </tbody>-->
<!--          </table>-->
          <div >
            <table mat-table [dataSource]="dataSource" matSort>

              <!-- ID Column -->
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                <td mat-cell *matCellDef=" let i = index;"> <strong>{{i+1}}</strong></td>
              </ng-container>

              <!-- START TIME Column -->
              <ng-container matColumnDef="stdName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> 	Name</th>
                <td mat-cell *matCellDef="let row"> {{row.stdName}} </td>
              </ng-container>
              <!-- Phone Column -->
              <ng-container matColumnDef="stdPhone">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> 	Phone</th>
                <td mat-cell *matCellDef="let row"> {{row.stdPhone}} </td>
              </ng-container>
              <!-- University Column -->
              <ng-container matColumnDef="universityName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> University </th>
                <td mat-cell *matCellDef="let row"> {{row.university.universityName}} </td>
              </ng-container>
              <!-- End Subscriped Date Column -->
              <ng-container  matColumnDef="endSubscriptionDate" >
                <th mat-header-cell *matHeaderCellDef mat-sort-header> End Subscriped Date </th>
                <td mat-cell *matCellDef="let row" >
                  <span class="badge bg-label-warning me-1" *ngIf="row.endSubscriptionDate ==null
                    ||  row.isSubscribed == null
                    ||  row.endSubscriptionDate == 0">
                    Not Activated yet</span>
                  <span class="badge bg-label-success me-1"  *ngIf="( row.endSubscriptionDate != null  )
                    && row.isSubscribed == true ">
                      {{ row.endSubscriptionDate | date : "longDate"}}</span>
                  <span class="badge bg-label-danger me-11" *ngIf="( row.endSubscriptionDate != null
                    && row.isSubscribed == false)" > SUBSCRIPTION EXPIRED</span>
                </td>
              </ng-container>
              <!-- Action Column -->
              <ng-container matColumnDef="Action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td  mat-cell *matCellDef="let row">
                  <div class="dropdown">
                    <button class="btn p-0" type="button" id="orederStatistics" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="bx bx-dots-vertical-rounded"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="orederStatistics" style="">
                      <a class="dropdown-item" href="javascript:void(0);"
                         data-bs-target="#exLargeModal" data-bs-toggle="modal" (click)="onEdit(row)">Edit</a>
                      <a class="dropdown-item"  data-bs-target="#exLargeModal2" data-bs-toggle="modal"
                            href="javascript:void(0);" (click)="onRenew(row.id)">
                                  renew Subscription</a>
                      <a class="dropdown-item" href="javascript:void(0);" (click)="DeleteStudent(row.id)">Delete</a>
                    </div>
                  </div>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

              <!-- Row shown when there is no matching data. -->
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
              </tr>
            </table>

            <mat-paginator  [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"
                            aria-label="Select page"></mat-paginator>
          </div>
        </div>
      </div>

    </div>




  </div>
  <!-- Content wrapper -->
</div>






<div class="modal fade" id="exLargeModal"
     tabindex="-1" style="display: none;" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <form [formGroup]="formValues" (ngSubmit)="ShowAddbutton ? SaveStudent() : UpdateStudent()">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel4">{{(ShowAddbutton) ? "ADD Student" : "Edit Student" }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col mb-3">
            <label for="nameExLarge" class="form-label">Name</label>
            <input type="text" id="nameExLarge" class="form-control"value="Yasser Abd Elghany"
                   placeholder="Enter Name" formControlName="stdName">
          </div>
        </div>
        <div class="row g-2">
          <div class="col-md-7 mb-3">
            <label for="emailExLarge" class="form-label">phone</label>
            <input type="tel" value="+02"formControlName="stdPhone"  [readonly]="ShowAddbutton == false"
                   id="emailExLarge" class="form-control" placeholder="phone">
            <!--  (change)="OTPButtonShow()"-->
          </div>
            <div class="col-md-1" style="display: flex;
                            align-items: center;    margin-top: 17px;
                            justify-content: center;" *ngIf="ShowAddbutton">
              <button id="sign-in-button" type="button" class="btn btn-dark btn-sm" (click)="SendOTP()">Send OTP</button>
            </div>
            <div class="col-md-3 mb-3" *ngIf="ShowAddbutton">
              <label for="emailExLarge" class="form-label">OTP</label>
              <input type="text" formControlName="OTP"
                      class="form-control" placeholder="OTP">
            </div>
            <div class="col-md-1" style="display: flex;
              align-items: center;    margin-top: 17px;
              justify-content: center;" *ngIf="ShowAddbutton">
              <button type="button" class="btn btn-success btn-sm" (click)="TestOTP()">Test OTP</button>
            </div>

        </div>
        <div class="row g-2">
          <div class="col mb-3">
            <label  class="form-label">UNIVERSITY</label>
            <select  class="form-select"
                     formControlName="university" >
              <option *ngFor="let University of Universities"
                      value="{{University.id}}">
                {{University.universityName}}
              </option>

            </select>
          </div>
          <div class="col mb-3">
            <label for="emailExLarge" class="form-label">Town</label>
            <select  class="form-select" formControlName="town">
              <option *ngFor="let Town of Towns"
                      value="{{Town.id}}">
                {{Town.townName}}
              </option>
            </select>    </div>
          <div class="col mb-3">
            <label for="dobExLarge" class="form-label">Start SUBSCRIPED DATE</label>
            <input type="date" [readonly]="ShowAddbutton == false"  formControlName="endSubscriptionDate" id="dobExLarge" class="form-control" placeholder="DD / MM / YY">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary "id="close-button" data-bs-dismiss="modal">
          Close
        </button>
        <button type="submit" class="btn btn-primary">{{(ShowAddbutton) ? "ADD Student" : "Edit Student" }}</button>
      </div>
    </div>
    </form>
  </div>
</div>

<!-- class="modal fade"   style="display: none;"-->
<div class="modal fade" id="exLargeModal2"
     tabindex="-1" style="display: none;" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <form [formGroup]="formValuesRenew" (ngSubmit)="RenewStudent()">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" >Renew Student</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row g-2">
            <div class="col mb-3">
              <label for="dobExLarge" class="form-label">Start SUBSCRIPED DATE</label>
              <input type="date"  formControlName="endSubscriptionDate"  class="form-control" placeholder="DD / MM / YY">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary "id="close-button-Renew" data-bs-dismiss="modal">
            Close
          </button>
          <button type="submit" class="btn btn-primary">Renew Student</button>
        </div>
      </div>
    </form>
  </div>
</div>

