<div class="container-xxl flex-grow-1 ">
  <div class="row">
    <h2>Settings</h2>
    <div class="col-lg-12">

          <div class="mt-3">
            <div class="row">
              <div class="col-md-3 col-12 mb-3 mb-md-0">
                <div class="list-group">
                  <a class="list-group-item list-group-item-action " id="list-home-list"
                     data-bs-toggle="list" href="#list-home">All Settings</a>
                  <a class="list-group-item list-group-item-action active" id="subscriptionPrice-list"
                     data-bs-toggle="list" href="#subscriptionPrice">subscription Price</a>
                </div>
              </div>
              <div class="col-md-9 col-12">
                <div class="tab-content p-0">
                  <div class="tab-pane fade" id="list-home">

                  </div>
                  <div class="tab-pane fade show active" id="subscriptionPrice">
                      <subscription-price></subscription-price>
                  </div>
                </div>
              </div>
            </div>
          </div>


    </div>




  </div>
  <!-- Content wrapper -->
</div>
