<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme" data-bg-class="bg-menu-theme">
  <div class="app-brand demo">
    <a href="index.html" class="app-brand-link">
      <img src="assets/img/logo.svg" alt="" style="width: 100%;">
    </a>

    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-xl-none" (click)="removeNav()">
      <i class="bx bx-chevron-left bx-sm align-middle"></i>
    </a>
  </div>

  <div class="menu-inner-shadow" style="display: none;"></div>


  <ul class="menu-inner py-1">
    <!-- Dashboard -->
    <li class="menu-item " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a routerLink="home" class="menu-link"  (click)="removeNav()">
        <i class="menu-icon tf-icons bx bx-home-circle"></i>
        <div data-i18n="Analytics">Dashboard</div>
      </a>
    </li>

    <!-- Reports -->
<!--    <li class="menu-item" routerLinkActive="active" (click)="removeNav()" >-->
<!--      <a routerLink="reports"  class="menu-link">-->
<!--        <i class="menu-icon tf-icons bx bxs-report"></i>-->
<!--        <div data-i18n="Analytics">Reports</div>-->
<!--      </a>-->
<!--    </li>-->

    <!-- Student -->
    <li class="menu-item" routerLinkActive="active"   (click)="removeNav()">
      <a routerLink="Students" class="menu-link">
        <i class="menu-icon tf-icons bx bxs-user-circle"></i>
        <div data-i18n="Analytics">Students</div>
      </a>
    </li>

    <!-- Employees -->
    <li class="menu-item" routerLinkActive="active"  (click)="removeNav()">
      <a routerLink="Employees" class="menu-link">
        <i class="menu-icon tf-icons bx bxs-user"></i>
        <div data-i18n="Analytics">Employees</div>
      </a>
    </li>

    <!-- buses -->
    <li class="menu-item" routerLinkActive="active"  (click)="removeNav()">
      <a routerLink="Buses" class="menu-link">
        <i class="menu-icon tf-icons bx bxs-bus"></i>
        <div data-i18n="Analytics">buses</div>
      </a>
    </li>
    <!-- Fees -->
    <li class="menu-item" routerLinkActive="active"  (click)="removeNav()">
      <a routerLink="Fees" class="menu-link">
        <i class="menu-icon tf-icons bx bxs-wallet"></i>
        <div data-i18n="Analytics">Fees</div>
      </a>
    </li>
    <!-- Universities -->
    <li class="menu-item" routerLinkActive="active"  (click)="removeNav()">
      <a routerLink="Supports" class="menu-link">
        <i class="menu-icon tf-icons bx bxs-user-voice"></i>
        <div data-i18n="Analytics">Who has support?</div>
        <!--Universities-->
      </a>
    </li>

    <!-- Map Locations -->
    <li class="menu-item" routerLinkActive="active"  (click)="removeNav()">
      <a routerLink="locations" class="menu-link">
        <i class="menu-icon tf-icons bx bxs-map"></i>
        <div data-i18n="Analytics">Map Locations</div>
      </a>
    </li>

    <!-- Rides -->
    <li class="menu-item" routerLinkActive="active"  (click)="removeNav()">
      <a routerLink="Appointments" class="menu-link">
        <i class="menu-icon tf-icons bx bxs-time"></i>
        <div data-i18n="Analytics">Appointments</div>
      </a>
    </li>

    <!-- Assignment -->
    <li class="menu-item" routerLinkActive="active"  (click)="removeNav()">
      <a routerLink="Assignments" class="menu-link">
        <i class="menu-icon tf-icons bx bxs-edit"></i>
        <div data-i18n="Analytics">Assignment</div>
      </a>
    </li>

    <!-- Complaints -->
    <li class="menu-item" routerLinkActive="active"  (click)="removeNav()">
      <a routerLink="Complaints" class="menu-link">
        <i class="menu-icon tf-icons bx bxs-chat"></i>
        <div data-i18n="Analytics">Complaints</div>
      </a>
    </li>
    <!-- Settings -->
    <li class="menu-item" routerLinkActive="active"  (click)="removeNav()">
      <a routerLink="Payments" class="menu-link">
        <i class="menu-icon tf-icons bx bxs-wallet"></i>
        <div data-i18n="Analytics">Payments</div>
      </a>
    </li>

    <!-- Settings -->
    <li class="menu-item" routerLinkActive="active"  (click)="removeNav()">
      <a routerLink="Settings" class="menu-link">
        <i class="menu-icon tf-icons bx bxs-plus-circle"></i>
        <div data-i18n="Analytics">Settings</div>
      </a>
    </li>

    <!-- Logout -->
    <li class="menu-item" routerLinkActive="active" (click)="logout()">
      <a routerLink="login" class="menu-link" (click)="logout()">
        <i class="menu-icon tf-icons bx bxs-log-out "></i>
        <div data-i18n="Analytics">Log Out</div>
      </a>
    </li>
  </ul>
</aside>
