<div class="container-xxl flex-grow-1 ">
  <div class="row">
    <h2>Complaints -- REPLY Table And Not</h2>
    <div class="col-lg-12">
      <div class="card" style="margin-top: 10px">
        <div class="card-header d-flex align-items-center justify-content-between">
          <div class="left-card ">
            <input class="form-control p-1"style="width:300px;display: inline-block;margin-right: 20px;" type="search"placeholder="Search" >
            <button type="button"
                    class="btn btn-sm btn-primary " >search</button>
          </div>



        </div>
        <div class="card-body table-responsive text-nowrap">
          <table class="table table-borderless">
            <thead style="border-bottom: 1px solid #b3b3b3">
            <tr>
              <th>#id</th>
              <th>Name</th>
              <th>phone</th>
              <th>Complaint</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody class="table-border-bottom-0">
            <tr>
              <td><strong>1</strong></td>
              <td>Yasser</td>
              <td>
                0213849649
              </td>
              <td>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit....
              </td>
              <td>
                <div class="dropdown">
                  <button class="btn p-0" type="button" id="orederStatistics" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="bx bx-dots-vertical-rounded"></i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-end" aria-labelledby="orederStatistics" style="">
                    <a class="dropdown-item" href="javascript:void(0);"
                       data-bs-target="#exLargeModal" data-bs-toggle="modal">Send</a>
                    <a class="dropdown-item" href="javascript:void(0);">Delete</a>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td><strong>2</strong></td>
              <td>Yasser</td>
              <td>
                0213849649
              </td>
              <td>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit....
              </td>
              <td>
                <div class="dropdown">
                  <button class="btn p-0" type="button" id="orederStatistics1"
                          data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="bx bx-dots-vertical-rounded"></i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-end" aria-labelledby="orederStatistics1" style="">
                    <a class="dropdown-item" href="javascript:void(0);">Send</a>
                    <a class="dropdown-item" href="javascript:void(0);">Delete</a>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td><strong>3</strong></td>
              <td>Yasser</td>
              <td>
                0213849649
              </td>
              <td>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit....
              </td>
              <td>
                <div class="dropdown">
                  <button class="btn p-0" type="button" id="orederStatistics3" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="bx bx-dots-vertical-rounded"></i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-end" aria-labelledby="orederStatistics3" style="">
                    <a class="dropdown-item" href="javascript:void(0);">Send</a>
                    <a class="dropdown-item" href="javascript:void(0);">Delete</a>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td><strong>4</strong></td>
              <td>Yasser</td>
              <td>
                0213849649
              </td>
              <td>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit....
              </td>
              <td>
                <div class="dropdown">
                  <button class="btn p-0" type="button" id="orederStatistics4" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="bx bx-dots-vertical-rounded"></i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-end" aria-labelledby="orederStatistics4" style="">
                    <a class="dropdown-item" href="javascript:void(0);">Send</a>
                    <a class="dropdown-item" href="javascript:void(0);">Delete</a>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td><strong>5</strong></td>
              <td>Yasser</td>
              <td>
                0213849649
              </td>
              <td>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit....
              </td>
              <td>
                <div class="dropdown">
                  <button class="btn p-0" type="button" id="orederStatistics5" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="bx bx-dots-vertical-rounded"></i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-end" aria-labelledby="orederStatistics5" style="">
                    <a class="dropdown-item" href="javascript:void(0);">Send</a>
                    <a class="dropdown-item" href="javascript:void(0);">Delete</a>
                  </div>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <nav aria-label="Page navigation " class=" d-flex justify-content-center">
          <ul class="pagination">
            <li class="page-item prev">
              <a class="page-link" href="javascript:void(0);"><i class="tf-icon bx bx-chevron-left"></i></a>
            </li>
            <li class="page-item active">
              <a class="page-link" href="javascript:void(0);">1</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="javascript:void(0);">2</a>
            </li>
            <li class="page-item ">
              <a class="page-link" href="javascript:void(0);">3</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="javascript:void(0);">4</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="javascript:void(0);">5</a>
            </li>
            <li class="page-item next">
              <a class="page-link" href="javascript:void(0);"><i class="tf-icon bx bx-chevron-right"></i></a>
            </li>
          </ul>
        </nav>
      </div>

    </div>




  </div>
  <!-- Content wrapper -->
</div>
<!-- / Layout page -->


<div class="modal fade" id="exLargeModal" tabindex="-1" style="display: none;" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel4">Send Complaint</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row g-2 mb-3">
          <div class="col mb-0">
            <h5  class="">Name : Yasser</h5>
          </div>
          <div class="col mb-0">
            <h5  class="">Phone : 0123166156</h5>
          </div>
        </div>
        <div class="row g-2 mb-3">
          <div class="col mb-0">
            <label  class="form-label">Complaint: </label>
            <p  class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet atque harum ipsum libero, odio quae suscipit! Consequatur cum ea eum fugiat illum impedit, maiores molestiae non rerum saepe sunt, tempora?  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam commodi doloribus ea enim ex iste nisi, non possimus vel voluptatibus! Atque corporis est exercitationem, incidunt iste optio reiciendis saepe sit!</p>
          </div>
        </div>
        <hr>
        <div class="row g-2 mb-3">
          <div class="col mb-0">
            <label  class="form-label">  send reply</label>
            <textarea rows="10" cols="3"  class="form-control"></textarea>

          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>

  </div>
</div>
