<div class="container-xxl flex-grow-1 " *ngIf="Complaints.length > 0">
  <div class="row">
    <h2>Complaints</h2>
    <div class="col-lg-12">
      <div class="card" style="margin-top: 10px">
        <div class="card-header d-flex align-items-center justify-content-between">
          <div class="left-card ">
            <input class="form-control p-1"style="width:300px;display: inline-block;margin-right: 20px;" type="search"placeholder="Search" >
            <button type="button"
                    class="btn btn-sm btn-primary " >search</button>
          </div>



        </div>
        <div class="card-body table-responsive text-nowrap">
          <table class="table table-borderless">
            <thead style="border-bottom: 1px solid #b3b3b3">
            <tr >
              <th>#id</th>
              <th>Complaint</th>
              <th>Time</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody class="table-border-bottom-0">
            <tr *ngFor="let complaint of Complaints;let i = index;">
              <td><strong>{{i+1}}</strong></td>
              <td>
                {{(complaint.message.length > 70) ? (complaint.message | slice:0:70 ) + '...'   : complaint.message}}
              </td>
              <td>
                <span class="badge bg-label-success  me-1">
                  {{ Date(complaint.msgTimestamp.seconds ) | date:'yyyy/MM/dd'}} </span>
              </td>
              <td>
                <button class="btn btn-outline-secondary"
                   data-bs-target="#exLargeModal" data-bs-toggle="modal" (click)="onEdit(complaint)">reply</button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>




  </div>
  <!-- Content wrapper -->
</div>
<br>
<br>
<!-- / Layout page -->
<div class="container-xxl flex-grow-1 " *ngIf="ComplaintsFinished.length > 0">
  <div class="row">
    <h2>Complaints completed</h2>
    <div class="col-lg-12">
      <div class="card" style="margin-top: 10px">
        <div class="card-header d-flex align-items-center justify-content-between">
          <div class="left-card ">
            <input class="form-control p-1"style="width:300px;display: inline-block;margin-right: 20px;" type="search"placeholder="Search" >
            <button type="button"
                    class="btn btn-sm btn-primary " >search</button>
          </div>



        </div>
        <div class="card-body table-responsive text-nowrap">
          <table class="table table-borderless">
            <thead style="border-bottom: 1px solid #b3b3b3">
            <tr >
              <th>#id</th>
              <th>Complaint</th>
              <th>Time</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody class="table-border-bottom-0">
            <tr *ngFor="let complaint of ComplaintsFinished;let i = index;">
              <td><strong>{{i+1}}</strong></td>
              <td>
                {{(complaint.message.length > 70) ? (complaint.message | slice:0:70 ) + '...'   : complaint.message}}
              </td>
              <td>
                <span class="badge bg-label-success me-1"> {{ Date(complaint.msgTimestamp.seconds ) | date:'yyyy/MM/dd'}} </span></td>
              <td>
                <button class="btn btn-outline-secondary" (click)="onEdit(complaint)"
                        data-bs-target="#exLargeModal" data-bs-toggle="modal">show</button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>




  </div>
  <!-- Content wrapper -->
</div>

<div class="modal fade" id="exLargeModal" tabindex="-1" style="display: none;" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <form [formGroup]="formValues" (ngSubmit)="SaveComplaint()">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel4">Send Complaint</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row g-2 mb-3">
          <div class="col mb-0">
            <h5  class="">Name : {{ComplaintInterface?.user?.stdName}}</h5>
          </div>
          <div class="col mb-0">
            <h5  class="">Phone : {{ComplaintInterface?.user?.stdPhone}}</h5>
          </div>
        </div>
        <div class="row g-2 mb-3">
          <div class="col mb-0">
            <label  class="form-label">Complaint: </label>
            <p  class="">{{ComplaintInterface?.message}}</p>
          </div>
        </div>
        <hr>
        <div class="row g-2 mb-3">
          <div class="col mb-0">
            <label  class="form-label"> {{ComplaintInterface?.response ? "Reply :  " : " send reply"}}</label>
            <textarea formControlName="response" rows="10" cols="3" *ngIf="!ComplaintInterface?.response"  class="form-control"></textarea>
            <span *ngIf="ComplaintInterface?.response" >{{ComplaintInterface?.response}}</span>

          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button  id="close-button" type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="submit" class="btn btn-primary" *ngIf="!ComplaintInterface?.response" >Save changes</button>
      </div>
    </div>
    </form>
  </div>
</div>

<div class="container-xxl flex-grow-1 " *ngIf="Complaints.length == 0 && ComplaintsFinished.length == 0">
  <div class="alert alert-primary" role="alert">Not found Complaint</div>
</div>
