<div class="container-xxl flex-grow-1 ">
  <div class="row">
    <h2>Assignment</h2>
    <div class="col-lg-8">
<!--      <div class="alert alert-primary" role="alert">Not Found Any Assignments</div>-->

      <div class="card" style="margin-top: 10px">

        <div class="card-body table-responsive text-nowrap">
          <h5>Availavle Rides</h5>
          <div class="card-info mb-4">
            <div class="card-body-group">
            <ul class="p-0 m-0 d-flex justify-content-center align-items-center" style="list-style: none;">
              <li class="me-3 card-info-text ">
                <i class="bx bx-time"></i>
                08.00 AM
              </li>
              <li class="me-3 card-info-text">
                <i class="bx bx-time"></i>
                08.00 AM
              </li>
             <li class="me-3 card-info-text">
               <i class="bx bx-time"></i>
               08.00 AM
              </li>
            </ul>
            </div>

          </div>
          <h5>Availavle Buses</h5>
          <div class="card-info mb-4">
            <div class="card-body-group">
              <ul class="p-0 m-0 d-flex justify-content-center align-items-center" style="list-style: none;">
                <li class="me-3 card-info-text">
                  <i class="bx bx-bus"></i>
                  Yasser Model
                </li>
                <li class="me-3 card-info-text">
                  <i class="bx bx-bus"></i>
                  Yasser Model
                </li>
                <li class="me-3 card-info-text">
                  <i class="bx bx-bus"></i>
                    Yasser Model
                </li>
              </ul>
            </div>

          </div>
          <h5>Availavle Drivers</h5>
          <div class="card-info mb-4">
            <div class="card-body-group">
              <ul class="p-0 m-0 d-flex justify-content-center align-items-center" style="list-style: none;">
                <li class="me-3 card-info-text">
                  <i class="bx bx-user"></i>
                    Yasser Driver
                </li>
                <li class="me-3 card-info-text">
                  <i class="bx bx-user"></i>
                  Yasser Driver
                </li>
                <li class="me-3 card-info-text">
                  <i class="bx bx-user"></i>
                  Yasser Driver
                </li>
              </ul>
            </div>
          </div>
          <button class="btn btn-sm btn-primary text-center me-2" disabled>Add</button>

        </div>

      </div>

    </div>
    <div class="col-lg-4">
      <div class="card mb-4">
        <div class="card-header d-flex align-items-center justify-content-between pb-0">
          <div class="card-title mb-0">
            <h5 class="m-0 me-2">Assignments</h5>
          </div>
        </div>
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center mb-3" style="position: relative;">
            <div class="resize-triggers"><div class="expand-trigger">
              <div style="width: 253px; height: 139px;">

              </div></div><div class="contract-trigger"></div></div></div>
          <ul class="p-0 m-0">
            <li class="d-flex mb-4 pb-1">
              <div class="avatar flex-shrink-0 me-3">
                <span class="avatar-initial rounded bg-label-primary bg-label-primary-color"><i class="bx bx-bus"></i></span>
              </div>
              <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                <div class="me-2">
                  <h6 class="mb-0">bus 1 #55</h6>
                  <small class="text-muted">Yasser Driver</small>
                </div>
                <div class="user-progress">
                  <b class="fw-semibold">08:00 AM</b>
                </div>
              </div>
            </li>

            <button type="button"  class="btn btn-sm btn-outline-secondary "> Clear All </button>
          </ul>
        </div>
      </div>
<!--      <div class="card mb-4">-->
<!--        <div class="card-header d-flex align-items-center justify-content-between pb-0">-->
<!--          <div class="card-title mb-0">-->
<!--            <h5 class="m-0 me-2">Bus</h5>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="card-body">-->
<!--          <div class="d-flex justify-content-between align-items-center mb-3" style="position: relative;">-->
<!--            <div class="resize-triggers"><div class="expand-trigger">-->
<!--              <div style="width: 253px; height: 139px;">-->

<!--              </div></div><div class="contract-trigger"></div></div></div>-->
<!--          <ul class="p-0 m-0">-->
<!--            <li class="d-flex mb-4 pb-1">-->
<!--              <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">-->
<!--                <div class="me-2">-->
<!--                  <h6 class="mb-0">CAPACITY</h6>-->
<!--                </div>-->
<!--                <div class="user-progress">-->
<!--                  <b class="fw-semibold">50</b>-->
<!--                </div>-->
<!--              </div>-->
<!--            </li>-->
<!--            <li class="d-flex mb-4 pb-1">-->
<!--              <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">-->
<!--                <div class="me-2">-->
<!--                  <h6 class="mb-0">Model</h6>-->
<!--                </div>-->
<!--                <div class="user-progress">-->
<!--                  <b class="fw-semibold">Yasser Model</b>-->
<!--                </div>-->
<!--              </div>-->
<!--            </li>-->
<!--            <li class="d-flex mb-4 pb-1">-->
<!--              <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">-->

<!--                <div class="me-2">-->
<!--                  <h6 class="mb-0">Phone</h6>-->
<!--                </div>-->
<!--                <div class="user-progress">-->
<!--                  <b class="fw-semibold">0125466314</b>-->
<!--                </div>-->

<!--              </div>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </div>-->
<!--      </div>-->
    </div>




  </div>
  <!-- Content wrapper -->
</div>


<div class="modal fade" id="exLargeModal" tabindex="-1" style="display: none;" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel4">Appointment
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row g-2 mb-3">
            <div class="col mb-0">
              <label for="nameExLarge" class="form-label">START TIME	</label>
              <input type="time" id="nameExLarge" class="form-control" readonly value="08:00">
            </div>
            <div class="col mb-0">
              <label for="nameExLarge" class="form-label">TYPE</label>
              <input type="text"  class="form-control" value="PM"readonly>
            </div>
          </div>
          <div class="form-check form-switch mb-2" >
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault"
            >
            <label class="form-check-label" for="flexSwitchCheckDefault">Active</label>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" id="close-button">
            Close
          </button>
        </div>
      </div>
  </div>
</div>
