
<div class="container-xxl flex-grow-1 ">
  <div class="row">
    <h2>Map Locations </h2>
    <div class="col-lg-12">
      <div class="card" style="margin-top: 10px">
        <div class="card-header d-flex align-items-center justify-content-between">
          <div class="left-card ">
            <input class="form-control p-1"style="width:300px;display: inline-block;margin-right: 20px;" type="search"placeholder="Search" >
            <button type="button"
                    class="btn btn-sm btn-primary " >search</button>
          </div>
          <div class="right-card">
            <button type="button"
                    class="btn btn-sm btn-info" data-bs-target="#exLargeModal"
                    data-bs-toggle="modal"(click)="AddButton()">Add Map Location </button>
          </div>


        </div>
        <div class="card-body table-responsive text-nowrap">
          <table class="table table-borderless">
            <thead style="border-bottom: 1px solid #b3b3b3">
            <tr>
              <th>#id</th>
              <th>Title</th>
              <th>Type</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody class="table-border-bottom-0">
            <tr *ngFor="let marker of markers;let i = index;">
              <td><strong>{{i+1}}</strong></td>
              <td>{{marker.mapPointTitleAr}}</td>
              <td *ngIf="marker.mapPointType == 'P'" >
                <span class="badge  bg-label-primary me-1"> Pick up </span>
              </td>
              <td *ngIf="marker.mapPointType == 'D'" >
                <span class="badge  bg-label-success me-1"> Drop off </span>
              </td>

              <td *ngIf="marker.isActive == true" >
                <span class="badge  bg-label-success me-1"> Active </span>
              </td>
              <td *ngIf="marker.isActive != true">
                <span class="badge bg-label-danger me-11"> Not Active </span>
              </td>

              <td>
                <div class="dropdown">
                  <button class="btn p-0" type="button" id="orederStatistics" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="bx bx-dots-vertical-rounded"></i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-end" aria-labelledby="orederStatistics" style="">
                    <a class="dropdown-item" href="javascript:void(0);"
                       data-bs-target="#exLargeModal" data-bs-toggle="modal" (click)="onEdit(marker)">Edit</a>
                    <a class="dropdown-item" href="javascript:void(0);" (click)="DeleteMarker(marker.id)">Delete</a>
                  </div>
                </div>
              </td>
            </tr>

            </tbody>
          </table>
        </div>

<!--        <nav aria-label="Page navigation " class=" d-flex justify-content-center">-->
<!--          <ul class="pagination">-->
<!--            <li class="page-item prev">-->
<!--              <a class="page-link" href="javascript:void(0);"><i class="tf-icon bx bx-chevron-left"></i></a>-->
<!--            </li>-->
<!--            <li class="page-item active">-->
<!--              <a class="page-link" href="javascript:void(0);">1</a>-->
<!--            </li>-->
<!--            <li class="page-item">-->
<!--              <a class="page-link" href="javascript:void(0);">2</a>-->
<!--            </li>-->
<!--            <li class="page-item ">-->
<!--              <a class="page-link" href="javascript:void(0);">3</a>-->
<!--            </li>-->
<!--            <li class="page-item">-->
<!--              <a class="page-link" href="javascript:void(0);">4</a>-->
<!--            </li>-->
<!--            <li class="page-item">-->
<!--              <a class="page-link" href="javascript:void(0);">5</a>-->
<!--            </li>-->
<!--            <li class="page-item next">-->
<!--              <a class="page-link" href="javascript:void(0);"><i class="tf-icon bx bx-chevron-right"></i></a>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </nav>-->
      </div>

    </div>

    <div class="col-md-12" style="margin: 20px 0">
      <div id="mapAll"  style="height: 500px;"></div>
    </div>



  </div>
  <!-- Content wrapper -->
</div>


<div class="modal fade" id="exLargeModal" tabindex="-1" style="display: none;" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <form [formGroup]="formValues" (ngSubmit)="ShowAddbutton ? SavePoint() : UpdatePoint()">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel4">{{(ShowAddbutton) ?
          "ADD Point" : "Edit Point" }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row g-2 mb-3">
          <div class="col mb-0">
            <label for="nameExLarge" class="form-label">Title</label>
            <input type="text" id="nameExLarge" class="form-control"value="point 1	"
                   placeholder="Enter Name" formControlName="mapPointTitleAr">
          </div>
          <div class="col mb-0">
            <label for="nameExLarge" class="form-label">TYPE</label>
            <select  class="form-select" formControlName="mapPointType">
              <option value="P">Pick up</option>
              <option value="D">Drop off </option>
            </select>
          </div>
          <div class="form-check form-switch mb-2" *ngIf="ShowAddbutton == false">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault"
                   formControlName="isActive"
                   [checked]="isActiveButton == true"
            >
            <label class="form-check-label" for="flexSwitchCheckDefault">Active</label>
          </div>
        </div>
        <div class="row g-2 mb-3">
          <div class="col mb-0">
            <div id="map" style="height: 500px;"></div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" id="close-button">
          Close
        </button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
    </div>
    </form>
  </div>
</div>

