<div class="container-xxl flex-grow-1 ">
  <div class="row">
    <h2>Employees</h2>
    <div class="col-lg-12">
      <div class="card" style="margin-top: 10px">
        <div class="card-header d-flex align-items-center justify-content-between">
          <div class="left-card "> </div>
          <div class="right-card">
            <button type="button"
                    class="btn btn-sm btn-info"data-bs-target="#exLargeModal"
                    data-bs-toggle="modal"
                    (click)="AddButton()">Add Employee</button>
          </div>


        </div>
        <div class="card-body table-responsive text-nowrap">
          <table class="table table-borderless">
            <thead style="border-bottom: 1px solid #b3b3b3">
            <tr>
<!--              <th>#id</th>-->
              <th>Name</th>
              <th>Phone</th>
              <th>NID</th>
              <th>Salary</th>
              <th>Type</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody class="table-border-bottom-0">
            <tr *ngFor="let Driver of Drivers;let i = index;">
              <td>{{Driver.emp.empName}}</td>
              <td>
                {{Driver.emp.empPhone}}
              </td>
              <td> {{Driver.emp.empNationalId}}</td>
              <td> {{Driver.emp.empSalary}}</td>
              <td> {{Driver.emp.empLk.lkName}}</td>
              <td>
                <div class="dropdown">
                  <button class="btn p-0" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="bx bx-dots-vertical-rounded"></i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-end"  style="">
                    <a class="dropdown-item" href="javascript:void(0);"
                       data-bs-target="#exLargeModal" data-bs-toggle="modal" (click)="onEdit(Driver)">Edit</a>
                    <a class="dropdown-item" href="javascript:void(0);" (click)="DeleteEmployee(Driver)">Delete</a>
                  </div>
                </div>
              </td>
            </tr>
            <tr *ngFor="let Admin of Admins;let i = index;">
<!--              <td><strong>{{i+1}}</strong></td>-->
              <td>{{Admin.emp.empName}}</td>
              <td>
                {{Admin.emp.empPhone}}
              </td>
              <td> {{Admin.emp.empNationalId}}</td>
              <td> {{Admin.emp.empSalary}}</td>
              <td> {{Admin.emp.empLk.lkName}}</td>
              <td>
                <div class="dropdown">
                  <button class="btn p-0" type="button" id="orederStatistics1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="bx bx-dots-vertical-rounded"></i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-end" aria-labelledby="orederStatistics1" style="">
                    <a class="dropdown-item" href="javascript:void(0);"
                       data-bs-target="#exLargeModal" data-bs-toggle="modal" (click)="onEdit(Admin)">Edit</a>
                    <a class="dropdown-item" href="javascript:void(0);" (click)="DeleteEmployee(Admin)">Delete</a>
                  </div>
                </div>
              </td>
            </tr>
            <tr *ngFor="let Employee of SuperVisors;let i = index;">
<!--              <td><strong>{{i+1}}</strong></td>-->
              <td>{{Employee.empName}}</td>
              <td>
                {{Employee.empPhone}}
              </td>
              <td> {{Employee.empNationalId}}</td>
              <td> {{Employee.empSalary}}</td>
              <td> {{Employee.empLk.lkName}}</td>
              <td>
                <div class="dropdown">
                  <button class="btn p-0" type="button" id="orederStatistics" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="bx bx-dots-vertical-rounded"></i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-end" aria-labelledby="orederStatistics" style="">
                    <a class="dropdown-item" href="javascript:void(0);"
                       data-bs-target="#exLargeModal" data-bs-toggle="modal" (click)="onEdit(Employee)">Edit</a>
                    <a class="dropdown-item" href="javascript:void(0);" (click)="DeleteEmployee(Employee)">Delete</a>
                  </div>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>

      </div>

    </div>




  </div>
  <!-- Content wrapper -->
</div>
<!-- / Layout page -->

<div class="modal fade" id="exLargeModal" tabindex="-1" style="display: none;" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <form [formGroup]="formValues" (ngSubmit)="ShowAddbutton ? SaveEmployee() : UpdateEmployee()">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel4">{{(ShowAddbutton) ? "ADD Employee" : "Edit Employee" }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row g-2 mb-3">
          <div class="col mb-0">
            <label for="nameExLarge" class="form-label">Name</label>
            <input type="text" id="nameExLarge" class="form-control"
                   placeholder="Enter Name" formControlName="empName">
          </div>
          <div class="col mb-0">
            <label for="emailExLarge" class="form-label">code</label>
            <input type="text" formControlName="empCode"  class="form-control" placeholder="code">
          </div>
        </div>
        <div class="row g-2 mb-3">
          <div class="col mb-0">
            <label for="emailExLarge" class="form-label">phone</label>
            <input type="tel" formControlName="empPhone"  id="emailExLarge" class="form-control" placeholder="phone">
          </div>
          <div class="col mb-0">
            <label  class="form-label">TYPE</label>
            <select *ngIf="ShowAddbutton == true"  class="form-select" formControlName="empLk" (change)="changeempLk()">
              <option *ngFor="let LK_Employee of LK_Employees"
                      value="{{LK_Employee.id}}">
                {{LK_Employee.lkName}}
              </option>
            </select>
            <ng-container *ngIf="ShowAddbutton == false">
            <input class="form-control"  formControlName="empLk"
                   [hidden]="true">
            <span *ngFor="let LK_Employee of LK_Employees">
                    <input class="form-control" type="text"
                           [readOnly]="true" *ngIf="LK_Employee.id == this.empLk.value"
                           value="{{ LK_Employee.lkName }}">
            </span>
            </ng-container>

          </div>
        </div>
        <div class="row g-2 mb-3">
          <div class="col mb-0">
            <label for="emailExLarge" class="form-label">NationalId</label>
            <input type="text"  class="form-control"formControlName="empNationalId"
                   placeholder="NationalId">
          </div>
          <div class="col mb-0">
            <label for="emailExLarge" class="form-label">SALARY</label>
            <input type="text" name="SALARY" class="form-control"formControlName="empSalary"
                   placeholder="SALARY">
          </div>
          <div class="col mb-0">
            <label for="emailExLarge" class="form-label">Start Date To Work</label>
            <input type="date"  class="form-control"
                   placeholder="empStartDate" formControlName="empStartDate">
          </div>
        </div>
        <hr>
        <div class="row g-2 mb-3" *ngIf="this.valueempLk == 1">
          <div class="col mb-0">
            <label for="emailExLarge" class="form-label">UserName</label>
            <input type="text"  class="form-control"formControlName="username"
                   placeholder="UserName">
          </div>
          <div class="col mb-0">
            <label for="emailExLarge" class="form-label">Password</label>
            <input type="text"  class="form-control"
                   placeholder="password" formControlName="password">
          </div>
        </div>
            <div class="row g-2 mb-3" *ngIf="this.valueempLk == 3">
              <div class="col mb-0">
                <label for="emailExLarge" class="form-label">Licence number</label>
                <input type="text"  class="form-control"value="6113"
                       placeholder="Licence number" formControlName="driverLicenceNumber">
              </div>
              <div class="col mb-0">
                <label for="emailExLarge" class="form-label">Licence Expiration</label>
                <input type="date"  class="form-control"
                       placeholder="Licence Expiration" formControlName="driverLicenceExpirationDate">
              </div>
            </div>


        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" id="close-button">
            Close
          </button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </div>

    </div>
    </form>
  </div>
</div>













