
<!-- Layout wrapper -->
<div *ngIf="this.router.url != '/login'">
  <div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
      <header></header>
      <div class="layout-page">
        <navbar></navbar>
<!--(click)="navRemove()"-->
        <div class="content-wrapper">
          <div>
            <router-outlet></router-outlet>
          </div>

        </div>
        <!-- Overlay -->
        <div class="layout-overlay layout-menu-toggle"></div>
        <footer></footer>
      </div>

    </div>
  </div>
</div>

<div *ngIf="this.router.url == '/login'">
  <router-outlet></router-outlet>
</div>

