

  <div class="container-xxl flex-grow-1 ">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="d-flex align-items-end row">
            <div class="col-sm-7">
              <div class="card-body">
                <h5 class="card-title text-primary">Hello Admin! 🎉</h5>
                <p class="mb-4">
                  You can go to the Tracking page here
                </p>

                <a href="javascript:;" class="btn btn-sm btn-outline-primary">Tracking page</a>
              </div>
            </div>
            <div class="col-sm-5 text-center text-sm-left">
              <div class="card-body pb-0 px-0 px-md-4">
                <img
                  src="../assets/img/illustrations/man-with-laptop-light.png"
                  height="140"
                  alt="View Badge User"
                  data-app-dark-img="illustrations/man-with-laptop-dark.png"
                  data-app-light-img="illustrations/man-with-laptop-light.png"
                />
              </div>
            </div>
          </div>
        </div>


      </div>

      <div class="col-lg-9">
        <br>
        <div class="col-md-12">
          <div class="card">
            <div class="card-header d-flex align-items-center justify-content-between">
              <h5 class="card-title m-0 me-2">Suggestions</h5>
            </div>
            <div class="card-body table-responsive text-nowrap">
              <table class="table table-borderless">
                <thead>
                <tr>
                  <th>Bus</th>
                  <th>Driver</th>
                  <th>Count of Studnets</th>
                  <th>Scheduled</th>
                </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                <tr>
                  <td><strong>Bus 1</strong></td>
                  <td>Yasser</td>
                  <td>
                    45
                  </td>
                  <td>9:30 AM</td>
                </tr>
                <tr>
                  <td><strong>Bus 2</strong></td>
                  <td>Elwsef</td>
                  <td>
                    35
                  </td>
                  <td>10:30 AM</td>
                </tr>
                <tr>
                  <td><strong>Bus 3</strong></td>
                  <td>Elmogy</td>
                  <td>
                    10
                  </td>
                  <td>11:30 AM</td>
                </tr>
                <tr>
                  <td> <strong>Bus 4</strong></td>
                  <td>Ahmed</td>
                  <td>
                    66
                  </td>
                  <td>12:30 AM</td>
                </tr>

                </tbody>
              </table>
              <hr>
              <div class="text-align-right" style="text-align: center;">
                <button type="button" style="width:150px;margin-right: 10px;border-radius: 15px; " class="btn btn-success">Agree</button>
                <button type="button" style="width:150px;border-radius: 15px;  " class="btn btn-danger">Refuse</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="card" style="margin-top: 20px">
            <h5 class="card-header">Report Next Rides (of the day)</h5>
            <div class="table-responsive text-nowrap">
              <table class="table table-hover">
                <thead>
                <tr>
                  <th>Bus</th>
                  <th>Driver</th>
                  <th>Count of Studnets</th>
                  <th>Scheduled</th>
                  <th>Status</th>
                </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                <tr>
                  <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>Bus 1</strong></td>
                  <td>Yasser</td>
                  <td>
                    45
                  </td>
                  <td>9:30</td>
                  <td><span class="badge  bg-label-success me-1">Completed</span></td>
                </tr>
                <tr>
                  <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>Bus 2</strong></td>
                  <td>Elwsef</td>
                  <td>
                    35
                  </td>
                  <td>7:30</td>
                  <td><span class="badge bg-label-primary me-1">Active</span></td>
                </tr>
                <tr>
                  <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>Bus 3</strong></td>
                  <td>Elmogy</td>
                  <td>
                    10
                  </td>
                  <td>8:30</td>
                  <td><span class="badge bg-label-warning me-1">Pending</span></td>
                </tr>
                <tr>
                  <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>Bus 4</strong></td>
                  <td>Ahmed</td>
                  <td>
                    66
                  </td>
                  <td>9:30</td>
                  <td><span class="badge bg-label-warning me-1">Pending</span></td>
                </tr>

                </tbody>
              </table>
            </div>
          </div>

        </div>
        <br>

      </div>

      <div class="col-lg-3 col-md-4">
        <br>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-12 mb-4">
            <div class="card" style="background: rgb(26 188 155 / 70%);color: #fff;">
              <div class="card-body">
                <span class="fw-semibold d-block mb-1">Number of Subscribed Student</span>
                <h3 class="card-title mb-2" style="color: #fff ;" >1228</h3>
              </div>
            </div>
          </div>

          <div class="col-lg-12 col-md-12 col-12 mb-4">
            <div class="card" style="background: rgba(46, 204, 113,.7);color: #fff;">
              <div class="card-body">
                <span class="fw-semibold d-block mb-1">Number of Employess</span>
                <h3 class="card-title mb-2"  style="color: #fff ;">12</h3>
              </div>
            </div>
          </div>

          <div class="col-lg-12 col-md-12 col-12 mb-4">
            <div class="card" style="background: rgba(52, 152, 219,.7);color: #fff;">
              <div class="card-body">
                <span class="fw-semibold d-block mb-1">Number of Registered Buses</span>
                <h3 class="card-title mb-2"  style="color: #fff ;">5</h3>
              </div>
            </div>
          </div>

        </div>

        <div class="row">


        </div>
      </div>


    </div>
    <!-- Content wrapper -->
  </div>
