/* You can add global styles to this file, and also import other style files */
.card-header {
  display: flex;
  justify-content: space-between;
  text-align: center !important;
  flex-wrap: wrap;
}
.search-card-style{
  width:300px;
  display: inline-block;
  margin-right: 30px;
}
@media (max-width: 575.98px) {


}
@media (max-width: 700px) {
  .card-header {
    justify-content: center !important;
  }
  .card-header div{
    width: 100%;
  }
  .card-header div input,
  .card-header div button,
  .card-header div select{
    display: block;
    width: 100% !important;
    margin-top: 10px;
  }

  button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
}

.layout-menu-remove {
  display: none ;
}

.bg-label-primary-color{
  color: #EB671A  !important;

}
